*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// html {
//   // This defines what 1rem is
//   font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%;

//   @include respond(tab-land) { //width < 1200px
//     font-size: 56.25%; //1rem = 9px, 9/16 
//   }

//   @include respond(tab-port){ //widht < 900px
//     font-size: 50%; //1rem = 8px, 8/16
//   }

//   @include respond(big-desktop){ //< 1800px
//     font-size: 75%; //1rem = 12, 12/16
//   }
// }