//Common Colors
$color-white: #fff;
$color-black: #000;

//Logo Colors
$logo-yellow: #ffff66;
$logo-red: #ff0066;
$logo-blue: #010066;
//Theme Colors
$theme-gray: #333333;
$theme-red: #cc0033;
$top-bar-blue: #040055;

//Product Colors
$product-color: #cc0033;